<h1>Productos</h1>
<div class="table-responsive">
    <table class="table table-dark">
        <tr>
                <th>Titulo</th>
                <th>Precio</th>
                <th>Foto</th>
                <th>Comprar</th>
        </tr>
        <tbody id="product">
        <tbody>
    </table>
</div>