<h1 style="color:blue;">Ingreso de productos</h1>
<br>
<form action="/productos" method="post">
    <div class="form-group">
        <label for="titulo"><b>Titulo</b></label>
        <input id="titulo" class="form-control" type="text" name="titulo">
    </div>
    <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="number" name="precio">
    </div>
    <div class="form-group">
        <label for="foto"><b>Foto</b></label>
        <input id="foto" class="form-control" type="text" name="foto">
    </div>
    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>
<a href="/productos"><button class="btn btn-success mt-3 mb-5">Ver la lista de productos</button></a>