<div style="color: white; background-color: rgb(27, 25, 25);">
    <h1 style="color: rgb(255, 255, 255);">CHAT</h1>
    <div id="messages" style="margin: 2px;"></div>
    <form onsubmit="return addMessage(this);">
        <input class="form-control" type="email" id="email" placeholder="Ingrese su e-mail" value="<%= username %>" disabled style="width: 70%; margin: 1px;">
        <input class="form-control" type="text" id="text" placeholder="Cuentanos algo..." required style="width: 70%; margin: 1px;">
        <input class="btn btn-success mt-3 mb-5" type="submit" id="submitc" value="Enviar mensaje">
    </form>
</div>