<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </link>
    <script src="/socket.io/socket.io.js"></script>
    <title>Desafio 13</title>
</head>

<body>
    <div class="container-mt-3">
        <div class="jumbotron">
            <% if (carrito.productos.length <= 0) { %>
            <h1>No hay productos en el carrito</h1>
            <% } else { %>
            <h1>Hay <%= carrito.productos.length %> productos en el carrito</h1>
            <div>
                <% carrito.productos.map(producto => { %>
                <div>
                    <h3>Nombre</h3>
                    <p><%= producto.name %></p>
                </div>
                <div>
                    <h3>Precio</h3>
                    <p><%= producto.price %></p>
                </div>
                <% }) %>
            </div>
            <form action="/comprar/1" method="post">
                <input type="submit" value="Comprar">
            </form>
            <% } %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="main.js"></script>

</body>

</html>