<h1>Productos</h1>
<form id="formAdd" onsubmit="return addProduct(this);">
    <div class="form-group">
        <input class="form-control" type="text" id="name" placeholder="Producto" required>
    </div>
    <div class="form-group">
        <input class="form-control" type="number" id="price" placeholder="Precio"required>
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="thumbnail" placeholder="Foto" required>
    <div class="form-group">
        <input class="btn btn-success mt-3 mb-5" id="btn" type="submit" value="Agregar">
    </div>
</form>
<div class="table-responsive">
    <table class="table table-dark">
        <tr>
                <th>Titulo</th>
                <th>Precio</th>
                <th>Foto</th>
        </tr>
        <tbody id="product">
        <tbody>
    </table>
</div>